[submodule "local_addons/ofxModal"]
	path = local_addons/GUI/ofxModal
	url = https://github.com/leozimmerman/ofxModal
[submodule "local_addons/GUI/ofxSmartFont"]
	path = local_addons/GUI/ofxSmartFont
	url = https://github.com/leozimmerman/ofxSmartFont
[submodule "local_addons/GUI/ofxParagraph"]
	path = local_addons/GUI/ofxParagraph
	url = https://github.com/leozimmerman/ofxParagraph
[submodule "local_addons/GUI/ofxDatGui"]
	path = local_addons/GUI/ofxDatGui
	url = https://github.com/leozimmerman/ofxDatGui
[submodule "local_addons/Timeline/ofxRange"]
	path = local_addons/Timeline/ofxRange
	url = https://github.com/Flightphase/ofxRange.git
[submodule "local_addons/Timeline/ofxTextInputField"]
	path = local_addons/Timeline/ofxTextInputField
	url = https://github.com/elliotwoods/ofxTextInputField.git
[submodule "local_addons/Timeline/ofxTimecode"]
	path = local_addons/Timeline/ofxTimecode
	url = https://github.com/YCAMInterlab/ofxTimecode.git
[submodule "local_addons/Timeline/ofxTween"]
	path = local_addons/Timeline/ofxTween
	url = https://github.com/obviousjim/ofxTween.git
[submodule "local_addons/Timeline/ofxMSATimer"]
	path = local_addons/Timeline/ofxMSATimer
	url = https://github.com/obviousjim/ofxMSATimer.git
[submodule "local_addons/Utils/ofxTimeMeasurements"]
	path = local_addons/Utils/ofxTimeMeasurements
	url = https://github.com/armadillu/ofxTimeMeasurements.git
[submodule "local_addons/Timeline/ofxTimeline"]
	path = local_addons/Timeline/ofxTimeline
	url = https://github.com/leozimmerman/ofxTimeline.git
[submodule "local_addons/Audio/ofxAudioAnalyzer"]
	path = local_addons/Audio/ofxAudioAnalyzer
	url = https://github.com/leozimmerman/ofxAudioAnalyzer
[submodule "local_addons/Audio/ofxAudioDecoder"]
	path = local_addons/Audio/ofxAudioDecoder
	url = https://github.com/leozimmerman/ofxAudioDecoder.git
